/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.flex {
  display: flex;
}

.index-pic {
  display: flex;
}

.index-pic:hover {
  background-color: white;
}

.link {
  text-decoration: none;
}

.fa-book {
  color: black;
  background-color: white;
}

.index-field {
  width: 10%;
}
.index-contain {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  text-align: center;
  font-size: 1.5rem;
}
.index-content {
  width: 40%;
}

.index-new {
  display: flex;
  justify-content: end;
}

.index-fontsize {
  font-size: medium;
  padding: 10px;
}

.show-contain {
  width: 100%;
  display: flex;
  gap: 5px;
}
.show-field {
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  list-style: none;
  color: black;
  width: 50%;
  align-items: center;
}
.show-pic {
  text-align: center;
  list-style: none;
  width: 50%;
  text-align: center;
  border-radius: 2%;
  margin-right: 5px;
}
.show-pic img {
  max-width: 100%;
  height: auto;
}

li {
  padding: 20px;
}

.button {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  color: white;
  background-color: #1d4ed8;
  border-radius: 0.5rem;
  transition: background-color 0.5s;
}

.button:hover {
  background-color: #041c51fe;
}

.button:focus {
  outline: none;
  ring-width: 4px;
  ring-color: #bfdbfe;
  box-shadow: 0 0 0 4px #bfdbfe;
}

.dark .button {
  background-color: #2563eb;
}

.dark .button:hover {
  background-color: #1d4ed8;
}

.dark .button:focus {
  ring-color: #3730a3;
  box-shadow: 0 0 0 4px #3730a3;
}

.buttons {
  display: flex;
  gap: 1rem;
  text-align: center;
}
